@font-face {
    font-family: 'Mazzard Soft H';
    src: url('../fonts/MazzardSoftH-Regular.woff2') format('woff2'),
        url('../fonts/MazzardSoftH-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mazzard Soft H ';
    src: url('../fonts/MazzardSoftH-SemiBold.woff2') format('woff2'),
        url('../fonts/MazzardSoftH-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}