@font-face {
    font-family: 'Mazzard Soft H';
    src: url('../fonts/MazzardH-Bold.eot');
    src: local('Mazzard H Bold'), local('MazzardH-Bold'),
        url('../fonts/MazzardH-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardH-Bold.woff2') format('woff2'),
        url('../fonts/MazzardH-Bold.woff') format('woff'),
        url('../fonts/MazzardH-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Mazzard Soft H';
    src: url('../fonts/MazzardH-Italic.eot');
    src: local('Mazzard H Italic'), local('MazzardH-Italic'),
        url('../fonts/MazzardH-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MazzardH-Italic.woff2') format('woff2'),
        url('../fonts/MazzardH-Italic.woff') format('woff'),
        url('../fonts/MazzardH-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}