@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mazzard Soft H',sans-serif;
    background-image: url('https://demo73leotheme.b-cdn.net/prestashop/at_freshio/themes/freshio/assets/img/modules/appagebuilder/img/home2_bgbody_top.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    background-color: #fbf4ea;
    overflow-x: hidden;
}
.body__inner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.body-about{
    background-image: none;
    background-color: $white;
}
@media screen and (max-width:992px) {
    .body__inner{
        display: none;
    }
}