@mixin list-none {
    list-style: none;
    padding: 0;
    margin: 0;
}
@mixin text-dec {
    text-decoration: none;
}
@mixin row {
    display: flex;
    flex-flow: row wrap ;
}
@mixin between {
    justify-content: space-between;
}
@mixin uppercase {
    text-transform: uppercase;
}