.head {
    max-width: 1450px;
    margin: auto;
    background: #fff;
}

.head__search-input-box {
    width: 550px;
    height: 45px;
    border-radius: 30px;
    background-color: #f4f4f4;
}

.head__search-icon {
    width: 50px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.head__search-btn {
    width: 100px;
    height: 100%;
    border: 0;
    font-size: 14px;
    text-align: center;
    color: $balck;
    font-weight: $font-bold;
    background-color: transparent;
    transform-origin: 0.5s;

    &:hover {
        color: $hover-color;
    }
}

.head__search-input {
    width: 390px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.head__search-input::placeholder{
        font-size: 14px;
        color: #aaa;
}

.head__wrapper {
    @include row;
    align-items: center;
    padding: 25px 0;
}
.head__modalbtn-list{
    @include row;
    @include list-none;
    float: right;
    gap: 16px;
    margin-bottom: 0;
}
.head-btn{
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    border: none;
    &:hover{
        background-color: $hover-color;
        color: $white;
    }
}

.head__btn-shop{
    background-color: #f3e4dc;
    &::after {
        content: '0';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 10px;
        font-weight: 400;
        color: #fff;
        background-color: #e0bf96;
        position: absolute;
        top: 0;
        right: -9px;
    }
}
.head__btn-heart{
    background-color: #f6f3e3;
    line-height: 46px;
    &::after{
        content: '0';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            font-size: 10px;
            font-weight: 400;
            color: #fff;
            background-color: #e0bf96;
            position: absolute;
            top: 0;
            right: -9px;
    }}
.head__btn-user{
        background-color: #e8f8f7;
}
.head__nav-modal-box{
    display: none;
}
@media screen and(max-width:992px) {
    .head__wrapper{
        justify-content: space-between;
    }
    .site-nav{
        display: none;
    }
    .head__search-input-box{
        display: none;
    }
    .head__btn-heart,
    .head__btn-user{
        display: none;
    }
    .head__logo-img{
        margin: 0 auto;
    }
    .head__input-wrapper{
        display: none;
    }
    .head__nav-modal-box{
        height: 100%;
        display: block;
    }
    .head__logo-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .head__btn-show-nav{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;
        @include text-dec;
        i{
            font-size: 20px;
            color: $rerely-color;
        }
    }
}